*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
    font-size: 45px;
    font-weight:900 ;

}
.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
.section-heading{
    max-width: 827px;
    text-align: center;
}

.section-heading h2{
    font-size: 35px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.section-heading p{
   font-size: 18px;
   margin-bottom: 30px;
   line-height: 30px;
   color: #757575 ; 
}


/* main style */

header{
    background:
      url("../images/developer.png"), url("../images/header_bg.png"),
      #FFF8F3;
      background-position: 23px 38px, bottom right ;
      background-repeat: no-repeat;
      padding-top: 50px;
}


nav{
    display: flex;
    width:95% ;
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0px auto;
    justify-content:space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;

}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}
#banner .banner-content p{
    font-size: 18px;
    color: #454545;
    line-height: 30px;
    margin-bottom: 30px ;
}

#banner .banner-image img{
    max-width: 565px;
    vertical-align: middle;

}
#about{
    padding-top: 130px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
   color: #757575 ; 
}

.about-info .info-card h4{
    font-size: 20px;

}
#skills{
   padding-top: 130px;
   max-width: 1110px;
   max-height: 595px;
   justify-content: center;
   margin: 0 auto;
   margin-bottom: 130px; 
}
#skills .skills-container{
    width: 91%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .section-heading{
    max-width: 827px;
    max-height: 90px;
    margin: 0 auto;
}


#skills .skills-container .section-heading h2{
    padding-bottom: 30px;
    font-size: 35px;

}
#skills .skills-container .section-heading p{
font-size: 18px;
text-align: center;
}
#skills .skills-container .skill-box{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 24px;
   

}
.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000025;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color: #454545;
    line-height: 28px;
    margin-bottom: 30px ;
}
#Resume{
    padding-top: 130px;
    max-width: 1110px;
    max-height: 991px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.resumesectionheading{
    padding-top: 100px;
    padding-bottom: 113px;
    max-width: 455px;
    max-height: 48px;
    margin: 0 auto;
    font-size: 20px;
    align-items: center;
}
.resumesectionheading h2{
    color: #181818;
}
.resumecontainer-parent{
    display: flex;
    gap: 71px;
}
.resume-container1 .resume-cards{
    padding-bottom: 30px;
}
.resume-container1 .resume-cards h2{
    max-width: 203px;
    max-height: 41px;
    padding-bottom: 30px;
    text-align: left ;
    line-height: auto;
    color: #474747;
}
.resume-container1 .resume-cards h3{
    padding-bottom: 10px;
    max-width: 405px;
    max-height: 34px;
    text-align: left;
    line-height: auto;
    color: #474747;
}
.resume-container1 .resume-cards h4{
    padding-bottom: 20px;
    max-width: 309px;
    max-height: 27px;
    text-align: left;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
.resume-container1 .resume-cards p{
    padding-bottom: 30px;
    line-height: 28px;
    text-align: left;
    font-size: 16px;
    color: #757575;
}
.resume-container1 .resume-cards hr{
    border: 1px solid #D1D1D1;
}

.resume-container2 .resume-cards{
    padding-bottom: 30px;
}
.resume-container2 .resume-cards h2{
    max-width: 203px;
    max-height: 41px;
    padding-bottom: 30px;
    text-align: left ;
    line-height: auto;
    color: #474747;
}
.resume-container2 .resume-cards h3{
    padding-bottom: 10px;
    max-width: 405px;
    max-height: 34px;
    text-align: left;
    line-height: auto;
    color: #474747;
}
.resume-container2 .resume-cards h4{
    padding-bottom: 20px;
    max-width: 309px;
    max-height: 27px;
    text-align: left;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
.resume-container2 .resume-cards p{
    padding-bottom: 30px;
    line-height: 28px;
    text-align: left;
    font-size: 16px;
    color: #757575;
}
.resume-container2 .resume-cards hr{
    border: 1px solid #D1D1D1;
}

.button-end{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.resume-button{
    align-items: center;
    padding-top: 50px;
    padding-bottom: 113px;
    margin: 0 auto;
}

.footer-section {
  width: 100%;
  height: 780px;
  margin-top: 200px;
  background-color:#FFF8F3 ;
}

.footer-container {
  max-width: 1197px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  gap: 117px;
}

.social h2{
    padding-top: 130px;
    padding-bottom: 20px;
    padding-left: 230px;
    font-size: 35px;

}
.social p{
    line-height: 28px;
    text-align: left;
    padding-left: 230px;
    font-size: 16px;

}
.social .social-img{
    padding-left: 220px;
    padding-right: 10px;
    
}
.social img{
    padding-top: 30px;

}

.social .social-img2{
    padding-right: 12px;
}


.contact-form h2{
    font-size: 35px;
    line-height: auto;
    text-align: left;
    padding-bottom: 28px;
    padding-top: 130px;
}
.contact-form {
  width: 461px;
  height: 520px;
}

.form input,
.form textarea {
  width: 461px;
  height: 64px;
  padding: 14px 16px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  background-color: #FFFFFF;
  outline: none;
}

.form textarea {
  width: 461px;  
  height: 180px;
  resize: none;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #999 ; font-size: 16px;
}
.button-form{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

